  <div class="flex-column center">
    <h1 class="white text-center mt-3">All art pieces</h1>
  </div>

<div class="container text-center dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @categories.each do |category| %>
    <a class="dropdown-item" href="#"><%= category.name %></a>
    <% end %>
  </div>
</div>

<ul class="container cards">
  <% @pieces.each do |piece| %>
    <li>
      <div class="card-category card">
        <img src="https://picsum.photos/id/237/200/300" alt="" class="img_card">
        <div class="text-center">
          <h4><%= link_to piece.title, piece_path(piece) %></h4>
          <h5><%= piece.artist %></h5>
          <p><strong><%= piece.price %> €</strong></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
