  <div class="flex-column center">
    <h1 class="white text-center mt-3">My art pieces</h1>
  </div>

<ul class="container cards">
  <% @user_pieces.each do |user_piece| %>
    <li>
      <div class="card-category card">
        <img src="https://picsum.photos/id/237/200/300" alt="" class="img_card">
        <div class="text-center">
          <h4><%= link_to user_piece.title, user_index_path(user_piece) %></h4>
          <h5><%= user_piece.artist %></h5>
          <p><strong><%= user_piece.price %> €</strong></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
