.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.card {
  height: 360px;
  border: 0px;
}

.img_card {
  width: 100%;
  height: 200px;
  background-size: cover;
}

.deco:hover {
  text-decoration: none;
  color: green;
}

ul li div span {
  position: absolute;
  transition: transform .5s;
}
ul li div .one,
ul li div .three
{
  width: 100%;
  height: 4px;
  background: #262626;
}
ul li div .one{
  top:0;
  left: 0;
  transform-origin: right;
}
ul li div:hover .one{
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}
ul li div .three{
  bottom:0;
  left: 0;
  transform-origin: left;
}
ul li div:hover .three{
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}
ul li div .two,
ul li div .four
{
  width: 4px;
  height: 100% ;
  background: #262626;
}
ul li div .two{
  top:0;
  left: 0;
  transform: scale(0);
  transform-origin: top;
}
ul li div:hover .two{
  transform: scale(1);
  transform-origin: bottom;
  transition: transform .5s;
}
ul li div .four{
  top:0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
ul li div:hover .four{
  transform: scale(1);
  transform-origin: bottom;
  transition: transform .5s;
}
