.sign_in_card {
  background-color: white;
  width: 440px;
  height: 440px;
  padding: 32px 40px;

}

.sign_in_banner {
  height: 100vh;
  background-image: url('https://picsum.photos/seed/picsum/1200/600');
  background-size: cover;
  display: flex;
  align-items: center;

}
